#app
   .container-fluid
      .row
         .col-sm-3.left_block
            h4 Room Detail
            hr
            label Discount
            input.form-control(v-model="discount")
            label Service fee
            input.form-control(v-model="service_fee")
            button.addroom_btn(@click="add_room") Add room
            hr
            h6 Edit room
            select.form-control.dropdown(v-model="edit_id")
               option(v-for="(item,index) in rooms", :key="index", :value="index") {{item.name}}
               
            .edit_room(v-for="(room,id) in [rooms[edit_id]]")
               h6 {{room.name}}
               label Room name
               input.form-control(v-model="room.name")
               label English name
               input.form-control(v-model="room.eng")
               label Price
               input.form-control(v-model="room.price")
               label Discount
               input.form-control(v-model="room.discount")
               label 房間設備: 
                  input.checkbox-custom(type="checkbox" v-model="room.equipment.breakfast")
                  label.checkbox-custom-label Breakfast
                  input.checkbox-custom(type="checkbox" v-model="room.equipment.bathtub")
                  label.checkbox-custom-label Bathtub
                  input.checkbox-custom(type="checkbox" v-model="room.equipment.wifi")
                  label.checkbox-custom-label Wifi
               
               
         .col-sm-9.right_block
            h4 Room list
            hr
            .row
               .col-sm-4.col_room(v-for="(room,id) in rooms")
                  //- div(v-for="(item,index) in rooms", :key="index") {{item.name}}
                  room-list(
                     :room_data="room",
                     :hotel_discount="discount",
                     :id="id",
                     :del_room="del_room",
                     :service_fee="service_fee"
                  )
               
               
template#room-list
   .room_container
      .cover(:style="bg_css")
         h6 {{room_data.name}}
         i.i.fa.fa-times(@click="del_room(id)")
      .info
         .room_eng {{room_data.eng}}
         span.icon
            span(v-if="room_data.equipment.breakfast")
               i.i.fa.fa-coffee
            span(v-if="room_data.equipment.bathtub")
               i.i.fa.fa-bath
            span(v-if="room_data.equipment.wifi")
               i.i.fa.fa-wifi
         
         .show_dis {{room_data.discount}} * {{hotel_discount}} = {{discount_show}} discount
         s TWD ${{room_data.price}}
         .red_text TWD ${{price_final_show}}
         
         