#app
   .container-fluid
      .row
         .col-sm-3
            h5 飯店資料
            hr
            label 折價
            input.form-control
            label 服務費
            input.form-control
            button.addroom_btn(@click="addRoom") 新增房間
            label 房間編輯
            select.form-control
               option(v-for="(item,index) in rooms", :key="index") {{item.name}}
               
         .col-sm-9
            h5 房間列表
            hr
            .row
               .col-sm-4.col_room(v-for="(room,id) in rooms")
                  //- div(v-for="(item,index) in rooms", :key="index") {{item.name}}
                  room-list(
                     :room_data="room",
                     :hotel_discount="discount",
                     :id="id",
                     :del_room="del_room"
                  )
               
               
template#room-list
   .room_container
      .cover(:style="bg_css")
         h6 {{room_data.name}}
         i.i.fa.fa-times(@click="del_room(id)")
      .info
         .room_eng {{room_data.eng}}
         span.icon
            span(v-if="room_data.equipment.breakfast")
               i.i.fa.fa-coffee
            span(v-if="room_data.equipment.bathtub")
               i.i.fa.fa-bath
            span(v-if="room_data.equipment.wifi")
               i.i.fa.fa-wifi
         
         .show_dis {{room_data.discount}} * {{hotel_discount}} = {{discount_show}} 折
         s NT${{room_data.price}}
         .red_text NT${{discount_final_show}}
         
         