$color_red: #DB4343
$color_purple: #614ad3
$color_blue: #366ed8

html
   padding: 20px
   
.addroom_btn
   margin: 10px 0px 10px 0px
   padding: 5px 15px
   background-color: #fff
   border: 1px solid #DEDEDE
   &::before
      content: '+ '

.room_container
   box-shadow: 0px 0px 10px rgba(0,0,0,0.3)
   margin: 10px -5px
   .cover
      height: 150px
      background-color: #eee
      position: relative
      background-size: cover
      background-position: center center
      
      h6
         background-color: #000
         color: #fff
         opacity: 0.7
         padding: 5px 15px
         position: absolute
         bottom: 5px
         font-size: 17px
         font-size: 14px
      
.block
   width: 70px
   height: 5px
   background-color: $color_purple
   margin-top: -10px
      
.fa-times
   position: absolute
   color: #fff
   top: 5px
   right: 5px
   cursor: pointer
   transition-duration: 0.3s
   &:hover
      color: $color_red
   
.form-control
   height: 35px

s
   font-size: 14px
   margin-top: 15px
   padding: 10px
   
.red_text
   background-color: $color_red
   color: #fff
   width: 100px
   font-size: 16px
   padding: 0px 10px
   
.show_dis
   font-size: 12px
   padding: 0px 0px 10px 10px
   
.info
   padding-top: 10px

   .room_eng
      font-size: 12px
      margin-left: 10px
      
   .icon
      padding-left: 10px
      
   i
      color: #BDBDBC
      font-size: 12px
      padding: 2px